.header {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: none;
}

li {
  padding: 7px;
  font-size: 1.3rem;
}

.active {
  text-decoration: none;
  padding: 10px;
  background-color: rgba(163, 205, 233, 0.863);
}
